@model IEnumerable<EF_Core_DB_First.Models.Parent>

@{
    ViewData["Title"] = "Index";
}

<h1>All Parents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
