@model EF_Core_DB_First.ViewModels.ChildViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableParents)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var parent in Model.AvailableParents)
                {
                    <li>
                        @Html.DisplayFor(model => parent.Text)
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChildId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
